@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center p-4">
    <h1 class="display-4 text-primary">Welcome to Url Shortener Sevice!</h1>
</div>
<div class="row justify-content-center">
    <div class="col-8 p-4">
        <p>
            This service allows you to convert your long and ugly urls to a short variant. All you need to do is register an account, open url list at the top of
            the page load your url into form and boom!
            You have short and nice version of it for free!
        </p>
        <br />
        <p>
            It works really simple! When you`re loading your url and sumbiting, service must first check if it is unique. If it is, then it tries to open it using TryCreate
            method of Uri.  
        </p>
        <br />
        <p>
            If it is valid and working, service generates unique code that contains both upper and lower case letters of English aplhabet, as well as number 1-10.
            Code only contains 7 characters for optimisation reasons.
        </p>
        <br />
        <p>
            After generating code, it links it to a scheme and host of service (which is localhost for now), which creates short and nice looking url.
        </p>
        <br />
        <p>
            And thats it! If you are authorized, you can delete links you created, and if you have the role of admin, you can delete any link you want.
        </p>
    </div>
</div>
<div class="justify-content-center">
    <h2 class="text-center text-primary">Have fun using it!</h2>
</div>